/* CSS styles for search component */

#search-box {
  border: 1px solid;
  border-color: darkblue;
  padding: 0px;
  font-family: Arial;
  width: 90%;
  outline: none;
  font-size:1.0em;
  margin-bottom: 0px;
  border-radius: 4px;
}

.search-results {
  margin: 0 0 2em 0;
  width: 90%;
  font-size: 1.0em;
  background-color: #e6ffcc;
  list-style-type: none;
  padding-left: 0;
  border-radius: 4px;
}

.search-results li {
  cursor: pointer;
  position: relative;
  left: 0em;
  margin: 0em;
  padding: 0.3em;
  height: 1.6em;
  background-color: #e6ffcc;
}

.search-results li:hover {
  background-color: #ceff99;
}

.search-results li.selected {
  background-color: #99e600;
}


.search-results li.selected:hover {
  background-color: #88cc00;
}
.search-results span {
  color: black;
}

.search-results .time-series-name {
  font-size: small;
  border-radius: 4px 0 0 4px;
  left: -1px;
  top: -4px;
  margin-right: .4em;
  color: black;
}
